{{define "layouts/app.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}} - gin 新手入门教程</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
{{ template "layouts/_header.html" .}}

<body>
    <div class="container">
        <div class="offset-md-1 col-md-10">
            {{block "content" .}}{{end}}
            {{ template "layouts/_footer.html" .}}
        </div>
    </div>
</body>

</html>
{{end}}